<div class="chart-wrapper">
  <section class="chart-card">
    <h3>Estados por Mes (Barras apiladas)</h3>
    <p-chart
      type="bar"
      [data]="stackedData"
      [options]="stackedOptions"
      style="height: 360px; display:block;">
    </p-chart>
  </section>

  <section class="chart-card">
    <h3>Tendencia diaria (Línea)</h3>
    <p-chart
      type="line"
      [data]="lineData"
      [options]="lineOptions"
      style="height: 360px; display:block;">
    </p-chart>
  </section>
</div>
